@mixin wrap() {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;

  @media #{$tablet-width} {
    width: 640px;
    padding-left: 49px;
    padding-right: 49px;
  }
  @media #{$desktop-width} {
    width: 960px;
    padding-left: 49px;
    padding-right: 49px;
  }
}
// фиксирует 123 и растягивает модальное окно до указанного $modal-width размера
@mixin modal-fix($modal-width) {
  display: block;
  position: fixed;
  top: 20%;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 90;
  @media (min-width: $modal-width+1) {
    width: $modal-width;
    left: 50%;
    margin-left: -($modal-width)/2;
  }
}
@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
@mixin radiocheck-style() {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 78px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
@mixin radiocheck-action() {
  &:hover::before {
    background-color: #e5e5e5;
    transition: background-color .4s;
  }
  &:active::before {
    background-color: #d5d5d5;
    transition: background-color .4s;
  }
}
@mixin btn-reset() {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
@mixin btn() {
  @include btn-reset()
  display: block;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 56px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $blue;
  transition: background-color .4s;
  overflow: hidden;
  &:hover {
    background-color: #669ec0;
    transition: background-color .4s;
  }
  &:active {
    color: rgba(#ffffff, .3);
    background-color: #5496bd;
    transition: background-color .2s,
                color .2s;
  }
  &:disabled {
    @include btn-disabled();
  }
}
@mixin btn-disabled() {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
  &:hover {
    color: #ffffff;
    background-color: #e5e5e5;
  }
  &:active {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}
@mixin links-action($color-link, $color-link-hover, $color-link-down) {
  font-weight: bold;
  color: $color-link;
  transition: color .2s;
  &:hover{
    color: $color-link-hover;
    transition: color .2s;
  }
  &:active {
    color: $color-link-down;
    transition: color .2s;
  }
}
// Граница в заголовке формы
@mixin form-border() {
  position: relative;
  text-align: center;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 19%;
    height: 1px;
    background-color: #dbdbdb;
  }
  &::before {
    left: 0;
  }
  @media #{$desktop-width} {
    &::after,
    &::before {
      width: 29%;
    }
  }
}
