@mixin wrap() {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin btn-reset() {
  padding: 0;
  border: none;
  outline: none;
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

