@mixin wrap() {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;

  @media #{$tablet-width} {
    width: 640px;
    padding-left: 49px;
    padding-right: 49px;
  }
  @media #{$desktop-width} {
    width: 960px;
    padding-left: 49px;
    padding-right: 49px;
  }
}
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin btn-reset() {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
@mixin btn() {
  @include btn-reset()
  display: block;
  font-size: 18px;
  line-height: 56px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: $blue;
  overflow: hidden;
}
