$blue: #81b3d2; // main blue color on page (btn)
$grey: #eeeeee;
$text-color: #333333;

$only-mobile: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1200px)";
