html {
  height: 100%;
  background-color: transparent;//#f2f2f2;
}
body {
  /* Pixel perfect width */
  //width: 320px;
  //width: 768px;
  //width: 1200px;

  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  color: $text-color;
  text-transform: uppercase;
  background-color: white;
  @media #{$desktop-width} {
    box-shadow: 0 0 25px 10px rgba(#000000, .1);
  }
}
h1 {
  font-size: 18px;
  line-height: 26px;
  color: black;
}
h2 {
  font-size: 21px;
  line-height: 26px;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
label,
button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  background-color: #f2f2f2;
  @include placeholder {
    color: #000000;
    opacity: 1;
  }
}
