.booking__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 49px;
  padding-left: 20px;
  text-align: center;
  @media #{$tablet-width} {
    padding-top: 31px;
    padding-bottom: 60px;
  }
  @media #{$desktop-width} {
    padding-top: 35px;
    padding-bottom: 67px;
  }
}
.booking__title {
  color: #000000;
  margin-bottom: 2px;
  @media #{$tablet-width} {
    font-size: 30px;
    line-height: auto;
    margin-bottom: 18px;
  }
}
.booking__text {
  line-height: 24px;
  margin-bottom: 36px;
  @media (min-width: 457px) {
    max-width: 458px;
  }
  @media #{$tablet-width} {
    margin-bottom: 42px;
  }
  @media #{$desktop-width} {
    margin-bottom: 46px;
  }
}
.booking__btn {
  @include btn();
  width: 100%;
  font-size: 21px;
  line-height: 58px;
  @media (min-width: 457px) {
    max-width: 458px;
  }
}
