.booking__wrap {
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 49px;
  padding-left: 20px;
  @media #{$tablet-width} {
    padding-top: 31px;
    padding-bottom: 58px;
  }
  @media #{$desktop-width} {
    padding-bottom: 67px;
  }
}
.booking__title {
  margin-bottom: 17px;
  color: #000000;
  text-align: center;
  @media #{$tablet-width} {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: auto;
  }
  @media #{$desktop-width} {
    margin-bottom: 30px;
  }
}
.booking__text {
  margin-bottom: 36px;
  line-height: 24px;
  text-align: center;
  @media (min-width: 457px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 458px;
  }
  @media #{$tablet-width} {
    margin-bottom: 41px;
  }
  @media #{$desktop-width} {
    margin-bottom: 47px;
  }
}
.booking__btn {
  @include btn();
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: 21px;
  line-height: 58px;
  @media (min-width: 457px) {
    max-width: 458px;
  }
}
