.feature-list__wrap {
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  @media #{$tablet-width} {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }
  @media #{$desktop-width} {
    padding-bottom: 21px;
  }
}
.feature-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 3px;
  padding-left: 50px;
  @media #{$tablet-width} {
    flex-grow: 1;
    justify-content: flex-start;
    width: 33.33%;
    margin-bottom: 0;
    padding-top: 158px;
    padding-right: 45px;
    padding-bottom: 47px;
    padding-left: 45px;
    text-align: center;
    &--souvenir {
      order: 1;
    }
  }
  &--motel {
    background: url("../img/icons/icon-house.svg") no-repeat 2px 2px;
    background-size: 38px;
    @media #{$tablet-width} {
      background-size: 75px;
      background-position: 50% 23%;
    }
    @media #{$desktop-width} {
      background-position: 49% 25%;
    }
  }
  &--souvenir {
    background: url("../img/icons/icon-gift.svg") no-repeat 5px 0;
    background-size: 32px;
    @media #{$tablet-width} {
      background-size: 63px;
      background-position: 49% 22%;
    }
    @media #{$desktop-width} {
      background-position: 50% 24%;
    }
  }
  &--food {
    background: url("../img/icons/icon-burger.svg") no-repeat 0px 6px;
    background-size: 39px;
    @media #{$tablet-width} {
      background-size: 77px;
      background-position: 50% 24%;
    }
    @media #{$desktop-width} {
      background-position: 50% 26%;
    }
  }
}
.feature-list__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  @media #{$tablet-width} {
    font-size: 21px;
    margin-bottom: 8px;
  }
}
.feature-list__text {
  line-height: 21px;
  &--custom {
    @media #{$desktop-width} {
      padding-right: 56px;
      padding-left: 56px;
    }
  }
}
