.feature-list__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 34px;
  padding-right: 20px;
  padding-bottom: 11px;
  padding-left: 20px;
  @media #{$tablet-width} {
    flex-direction: row;
    padding: 0;
  }
  @media #{$desktop-width} {
    padding-bottom: 26px;
  }
}
.feature-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  padding-left: 50px;
  &::before {
    content: "";
    position: absolute;
  }
  @media #{$tablet-width} {
    flex-grow: 1;
    justify-content: flex-start;
    width: 33.33%;
    margin-bottom: 0;
    padding-top: 158px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
    text-align: center;
    &--souvenir {
      order: 1;
    }
  }
  &--motel::before {
    top: -10px;
    left: 2px;
    width: 39px;
    height: 37px;
    background: url("../../img/icon-house.svg") no-repeat;
    background-size: cover;
    @media #{$tablet-width} {
      top: 58px;
      left: 50%;
      width: 75px;
      height: 72px;
      margin-left: -38px;
    }
  }
  &--souvenir::before {
    top: -12px;
    left: 5px;
    width: 32px;
    height: 38px;
    background: url("../../img/icon-gift.svg") no-repeat;
    background-size: cover;
    @media #{$tablet-width} {
      top: 55px;
      left: 50%;
      width: 64px;
      height: 76px;
      margin-left: -34px;
      background-size: 100%;
    }
  }
  &--food::before {
    top: -6px;
    left: -1px;
    width: 40px;
    height: 35px;
    background: url("../../img/icon-burger.svg") no-repeat;
    background-size: 96%;
    @media #{$tablet-width} {
      top: 63px;
      left: 50%;
      width: 75px;
      height: 72px;
      margin-left: -38px;
      background-size: 100%;
    }
  }
}
.feature-list__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  @media #{$tablet-width} {
    font-size: 21px;
    margin-bottom: 8px;
  }
}
.feature-list__text {
  line-height: 21px;
}
