.form {
  @media #{$only-mobile} {
    border-top: 1px solid $dark-grey;
  }
  &--name {
    @media #{$tablet-width} {
      margin-left: 8.8%;
      width: 41.2%;
    }
    @media #{$desktop-width} {
      margin-left: 8.3%;
      width: 41.7%;
    }
  }
  &--contact {
    @media #{$tablet-width} {
      width: 100%;
    }
  }
  &--quiz {
    @media #{$tablet-width} {
      position: relative;
      width: 50%;
      order: -10;
      &::after {
        content: "";
        position: absolute;
        top: 23px;
        right: 0;
        bottom: 25px;
        width: 1px;
        background-color: #dbdbdb;
      }
    }
  }
  &--visit {
    @media #{$tablet-width} {
      width: 100%;
    }
  }
  &--review {
    @media #{$tablet-width} {
      width: 100%;
    }
  }
}
.form__wrap {
  display: flex;
  flex-direction: column;
  @media #{$only-mobile} {
    padding-right: 6.25%;
    padding-left: 6.25%;
  }
  &--name {
    @media #{$only-mobile} {
      padding-bottom: 5px;
    }
  }
  &--contact {
    @media #{$tablet-width} {
      margin-top: 30px;
    }
  }
  &--quiz {
    @media #{$only-mobile} {
      padding-bottom: 16px;
    }
    @media #{$desktop-width} {
      padding-left: 4px;
    }
  }
  &--visit {
    @media #{$only-mobile} {
      padding-bottom: 2px;
    }
    @media #{$tablet-width} {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 15px;
    }
    @media #{$desktop-width} {
      justify-content: space-between;
      margin-top: 11px;
    }
  }
  &--review {
    @media #{$tablet-width} {
      margin-top: 18px;
    }
  }
  &--submit {
    @media #{$tablet-width} {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 37px;
    }
  }
}
.form__group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  &--contact {
    @media #{$desktop-width} {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &--quiz {
    @media #{$tablet-width} {
      align-items: flex-start;
      margin-top: 36px;
    }
    @media #{$desktop-width} {
      margin-top: 37px;
    }
  }
  &--visit {
    @media #{$tablet-width} {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 35px;
      padding-left: 95px;
    }
    @media #{$desktop-width} {
      padding: 0;
    }
  }
  &--name {
    @media #{$tablet-width} {
      margin-top: 36px;
    }
    @media #{$desktop-width} {
      margin-top: 37px;
    }
  }
}
.form input[type="checkbox"],
.form input[type="radio"] {
  display: none;
}
.form__title {
  display: block;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  @media #{$tablet-width} {
    font-size: 21px;
    text-align: left;
  }
  &--contact {
    @media #{$tablet-width} {
      @include form-border();
      margin-bottom: 27px;
    }
    @media #{$desktop-width} {
      margin-bottom: 74px;
    }
  }
  &--visit {
    margin-bottom: 16px;
    @media #{$tablet-width} {
      @include form-border();
      margin-bottom: 42px;
    }
  }
  &--review {
    @media #{$only-mobile} {
      margin-bottom: 18px;
    }
    @media #{$tablet-width} {
      @include form-border();
      margin-bottom: 57px;
    }
  }
  &--quiz {
    @media #{$desktop-width} {
      width: auto;
      padding-left: 80px;
    }
  }
}
.form__field {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  &--contact {
    position: relative;
    flex-wrap: wrap;
    @media #{$only-mobile} {
      /*Для размещения span-ошибки ввода без увелечиная размера блока*/
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      min-height: 120px;
      margin-bottom: 0;
    }
    @media #{$tablet-width} {
      justify-content: space-between;
    }
    @media #{$desktop-width} {
      align-items: baseline;
      width: 50%;
    }
  }
  &--contact-custom {
    @media #{$only-mobile} {
      margin-bottom: 12px;
    }
    @media #{$tablet-width} {
      margin-bottom: 23px;
    }
    @media #{$desktop-width} {
      width: 42%;
    }
  }
  &--review {
    flex-wrap: wrap;
  }
}
.form__name-label {
  padding-right: 13px;
  &--custom {
    padding-right: 16px;
  }
}
@mixin input-action() {
  &:hover {
    background-color: $dark-grey;
    transition: background-color .4s,
                box-shadow .4s;
  }
  &:focus {
    box-shadow: inset 0 0 0 4px $dark-grey;
    background-color: #ffffff;
    transition: background-color .4s,
                box-shadow .4s;
  }
}
.form__name-input {
  flex-grow: 1;
  width: 100%;
  min-height: 58px;
  padding-right: 22px;
  padding-left: 22px;
  @include input-action();
}
.form__field-wrap {
  position: relative;
  width: 100%;
  @media #{$desktop-width} {
    width: 50%;
    flex-grow: 1;
  }
}
.form__contact-input {
  box-sizing: border-box;
  width: 100%;
  min-height: 58px;
  padding-right: 58px;
  padding-left: 22px;
  @include input-action();
}
.form__contact-label {
  padding-bottom: 7px;
  padding-left: 22px;
  @media #{$tablet-width} {
    order: -10;
  }
  @media #{$desktop-width} {
    padding-left: 0;
    padding-right: 16px;
  }
}
.form__contact-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 58px;
  height: 58px;
  &--tel {
    background: #e6e6e6 url("../img/icons/icon-phone.svg") no-repeat 50% 50%;
  }
  &--mail {
    background: #e6e6e6 url("../img/icons/icon-mail.svg") no-repeat 50% 50%;
  }
}
.form__error-tel,
.form__error-mail {
  line-height: 14px;
  color: #ff5c5c;
  text-transform: none;
  &--on {
    display: block;
  }
  &--off {
    display: none;
  }
  @media #{$only-mobile} {
    margin-top: 11px;
    padding-left: 22px;
  }
  @media #{$tablet-width} {
    margin-bottom: 10px;
    order: -1;
  }
  @media #{$desktop-width} {
    position: absolute;
    top: -27px;
    left: 27%;
  }
}
.form__quiz-label {
  position: relative;
  margin-bottom: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 78px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $grey;
  }
  @include radiocheck-action();
  @media #{$tablet-width} {
    margin-bottom: 22px;
  }
}
.form__quiz-input:checked + .form__quiz-label {
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $text-color;
  }
  &:active::after {
    opacity: .3;
  }
}
.form__visit-label {
  @include radiocheck-style();
  margin-bottom: 24px;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    background-color: $grey;
  }
  @include radiocheck-action();
  @media #{$tablet-width} {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 33px;
  }
  @media #{$desktop-width} {
    width: auto;
  }
}
.form__visit-input:checked + .form__visit-label {
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;
    width: 19px;
    height: 10px;
    transform: rotate(-45deg);
    border-bottom: 4px solid $text-color;
    border-left: 4px solid $text-color;
  }
  &:active::after {
    opacity: .3;
  }
}
.form__textarea {
  width: 100%;
  padding: 16px 20px;
  @include input-action();
}
.form__btn {
  @include btn();
  width: 100%;
  margin-top: 29px;
  margin-bottom: 45px;
  font-size: 21px;
  line-height: 58px;
  text-transform: uppercase;
  @media #{$only-mobile} {
    margin-left: auto;
    margin-right: auto;
    max-width: 324px;
  }
  @media #{$tablet-width} {
    width: 50%;
    margin: 0;
  }
  @media #{$desktop-width} {
    width: 50%;
  }
}
.form__warn {
  align-self: center;
  @media #{$only-mobile} {
    display: none;
  }
}
/* Очередность */
label[for="park"] {
  @media #{$tablet-width} {
    order: 1;
  }
}
label[for="red-rocks"] {
  @media #{$tablet-width} {
    order: 2;
  }
}
/* Сокращение слов в label */
.form__hidden {
  @media #{$desktop-width} {
    display: none;
  }
}
