.likes {
  position: relative;
  display: flex;
  align-items: flex-start;
  @media #{$tablet-width} {
    min-width: 65px;
  }
}
.likes-icon {
  position: absolute;
  left: 0;
  top: -1px;
}
.likes-count {
  padding-left: 37px;
  font-weight: bold;
  line-height: 24px;
  @media #{$tablet-width} {
    padding-left: 33px;
  }
}
picture {
  height: 0;
}
