.likes {
  position: relative;
  display: flex;
  align-items: flex-start;
  @media #{$tablet-width} {
    min-width: 65px;
    margin-top: 13px;
  }
}
.likes__btn {
  @include btn-reset();
  position: absolute;
  left: 0;
  top: -1px;
}
.likes__icon {
  fill: rgba(#000000, .3);
  @media #{$desktop-width} {
    fill: #ffffff;
  }
}
.likes__count {
  padding-left: 37px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  @media #{$tablet-width} {
    padding-left: 33px;
  }
  @media #{$desktop-width} {
    color: #ffffff;
  }
}
