.modal {
  display: none;
  min-width: 320px;
  padding-top: 25px;
  background-color: #ffffff;

  &--error-on {
    @include modal-fix(401px);
    padding-bottom: 35px;
    box-shadow: 0 5px 15px 0 rgba(#000101, .15);
  }
  &--success-on {
    @include modal-fix(640px);
    padding-bottom: 20px;
    box-shadow: 0 5px 15px 0 rgba(#000101, .15),
                inset 0 -98px 0 #f2f2f2;
  }
}
.modal__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__text {
  width: 240px;
  text-align: center;
  &--success-custom {
    margin-bottom: 61px;
  }
}
.modal__btn {
  @include btn();
  width: 100%;
  max-width: 458px;
  &--error {
  }
  &--success {
    @media #{$tablet-width} {
      width: 458px;
    }
  }
}
