.page-wrap {
  display: flex;
  flex-direction: column;
  &--photo {
    @media #{$tablet-width} {
      flex-direction: row;
      flex-wrap: wrap;
      width: 648px;
      margin: 0 auto;
      padding-right: 60px;
      padding-left: 60px;
    }
    @media #{$desktop-width} {
      width: 1200px;
      padding-right: 0;//120px;
      padding-left: 0;//120px;
    }
  }
  &--form {
    @media #{$tablet-width} {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 70px;
      padding-right: 7.8%;//60px;
      padding-left: 7.8%;//60px;
    }
    @media #{$desktop-width} {
      margin-bottom: 75px;
      padding-right: 10%;//120px;
      padding-left: 10%;//120px;
    }
  }
}
