.page-header {
  position: relative;
  @media #{$tablet-width} {
    margin-bottom: 37px;
  }
  &--index {
    @media #{$tablet-width} {
      margin-bottom: 49px;
    }
  }
  &--photo {
    margin-bottom: 26px;
    @media #{$tablet-width} {
      margin-bottom: 68px;
    }
    @media #{$desktop-width} {
      margin-bottom: 70px;
    }
  }
  &--form {
    margin-bottom: 17px;
    @media #{$tablet-width} {
      margin-bottom: 55px;
    }
    @media #{$desktop-width} {
      margin-bottom: 38px;
    }
  }
}
.page-header__wrap {
  text-align: center;
}
.page-header__background {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 158px;
  margin-bottom: 39px;
  padding-top: 51px;
  text-align: center;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background: url("../../img/bg-intro-triangle-desktop.svg") no-repeat 50%;
    background-size: 1201px;
  }
  @media #{$retina} {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
  @media #{$tablet-width} {
    height: 290px;
    margin-bottom: 75px;
    padding-top: 93px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    @media #{$retina} {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
    }
  }
  @media #{$desktop-width} {
    height: 300px;
    margin-bottom: 113px;
    padding-top: 102px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    @media #{$retina} {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
    }
  }
  &--big {
    height: 389px;
    padding-top: 90px;
    background-position: 50% 0;
    @media #{$tablet-width} {
      height: 518px;
      margin-bottom: 50px;
      padding-top: 77px;
    }
    @media #{$desktop-width} {
      padding-top: 78px;
    }
  }
}
.page-header__logo-title {
  @media #{$tablet-width} {
    width: 460px;
    height: 80px;
  }
  &--big {
    @media #{$tablet-width} {
      height: 350px;
    }
  }
}
.page-header__title {
  max-width: 440px;
  margin-right: auto;
  margin-left: auto;
  @media #{$only-mobile} {
    margin-bottom: 25px;
    padding: 0 25px;
  }
  @media #{$tablet-width} {
    margin-bottom: 31px;
    font-size: 30px;
  }
  &--index {
    margin-bottom: 28px;
    @media #{$tablet-width} {
      margin-bottom: 29px;
      font-size: 21px;
    }
  }
  &--form {
    @media #{$desktop-width} {
      margin-top: 113px;
    }
  }
}
.page-header__text {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  @media #{$only-mobile} {
    padding: 0 25px;
    margin-bottom: 5px;
  }
  &--index {
    max-width: 490px;
  }
  &--photo {
    line-height: 24px;
    margin-bottom: 14px;
  }
  &--form {
    padding: 0 20px;
    line-height: 24px;
  }
}
