.page-wrap {
  display: flex;
  flex-direction: column;
  &--index {
  }
  &--photo {
    //align-items: center;
    @media #{$tablet-width} {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 648px;
      margin: 0 auto;
    }
    @media #{$desktop-width} {
      width: 1200px;
    }
  }
  &--form {
    @media #{$tablet-width} {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 70px;
    }
  }
}
