.social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  @media #{$tablet-width} {
    width: 33.33%;
    margin-bottom: 0;
  }
  @media #{$desktop-width} {
    margin-right: auto;
  }
}
.social__item {
  margin: 3px;
}
