.social-btn {
  @include btn();
  display: flex;
  width: 46px;
  height: 48px;
  font-size: 0;
  &--facebook {
    width: 47px;
  }
}
.social-btn__icon {
  fill: #ffffff;
  transition: opacity .4s;
  margin: auto;
}
.social-btn:active .social-btn__icon {
  opacity: .3;
  transition: opacity .4s;
}
