.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 201px;
  margin: auto;
  @media #{$tablet-width} {
    width: 640px;
    height: 499px;
  }
}
.video-player__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 267px;
  background: url("../../img/video-mobile@1x.jpg") no-repeat;
  @media #{$tablet-width} {
    height: 499px;
  }
}
.video-player__panel {
  //@include wrap();
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
.video-player__bar {
  padding-top: 22px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 20px;
  background: rgba(#000000, .8);
}
.video-player_control {
  background: rgba(#f2f2f2, .8);
}
.video-player__scale {
  position: relative;
  height: 3px;
  background-color: rgba(#ffffff, .2);
}
.video-player__scale-runner {
  position: absolute;
  top: -3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 20;
  cursor: pointer;
}
.video-player_control {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-right: 23px;
  padding-left: 25px;
  padding-bottom: 23px;
  font-size: 0;
}
.video-player__btn {
  @include btn-reset();
  height: 20px;
  background-color: grey;

  &--replay {
    width: 16px;
    margin-right: auto;
    background: url("../../img/icon-video-replay.svg") no-repeat;
  }
  &--subs {
    width: 32px;
    margin-right: 31px;
    background: url("../../img/icon-video-subtitles.svg") no-repeat;
  }
  &--full {
    width: 20px;
    background: url("../../img/icon-video-fullscreen.svg") no-repeat;
  }
}
